{% include base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share url" }}</h4>
{% endif %}

<span><input type="text" value="{{ base_path }}{{ page.url }}" id="current-page-url">
<button onclick="(function(){var t=document.getElementById(&quot;current-page-url&quot;);t.select();t.setSelectionRange(0,99999);navigator.clipboard.writeText(t.value);})()" class="btn" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share' }}">Copy URL</button></span>

</section>